<h2>*ngIf</h2>

<div *ngIf="true">
  *ngIf verdadeiro
</div>

<div *ngIf="false">
  *ngIf falso
</div>

<!-- Método -->
<button (click)="mostrar()">Exibir nome da escola</button><br>
<p *ngIf="getValor()">Treinamento com condicional *ngIf</p>

<!-- Condicionais -->
<p *ngIf="cursos.length == 0">Não temos curso disponível</p>
<p *ngIf="cursos.length > 0">Agora temos curso cadastrado</p>
<button (click)="addCurso()">Add Novo Curso</button>

<!-- Chamada de Variavável -->
<p *ngIf="mostraNome">com uma variável</p>
<p [hidden]="getValor()">paragrafo com hidden</p>