<!-- Interpolation -->
<h1>{{ title }}</h1>

<!-- Property Binding -->
<!-- <img [src]="foto"> -->

<!-- Event Binding -->
<!-- <p>
    <button (click)="enviarMsg()">Enviar Alerta</button>
</p> -->

<!-- <app-lista-pessoa></app-lista-pessoa> -->

<!-- <app-interpolation-binding></app-interpolation-binding> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- <app-ng-if></app-ng-if> -->

<!-- <app-ng-switch-case></app-ng-switch-case> -->

<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-class></app-ng-class> -->

<!-- <app-ng-style></app-ng-style> -->

<app-ng-content>
    <div class="titulo">
        meu título com select
    </div>
    <div class="corpo">
        meu conteudo com select
    </div>
    <div class="corpo">
        mais um conteudo meu com select
    </div>
</app-ng-content>